@{
  Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/home.css">

<h1 class="text-center">Welcome Pierre!</h1>
<a href="/vendors" class="no-underline"><button class="btn btn-dark" id="home">Vendors</button></a>