@using Pierre.Models;
@{
  Layout = "_Layout";
}
<h1>@Model["vendor"].Name</h1>
<p>@Model["vendor"].Description</p>
<h3>Here are the orders for this vendor<h3>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
}

<a href="/vendors"><button class="btn btn-dark">Back to vendors</button></a>
<a href='/vendors/@Model["vendor"].Id/orders/new'><button class="btn btn-dark">Create order</button></a>
<a href=""><button class="btn btn-dark">Delete orders</button></a>