body {
    background-color: #f7c56d;
}

footer {
    position:fixed;
    bottom:0;
    left: 45%;
    width:100%;
    color:#000;
    padding:8px;
}

.no-underline:hover {
    text-decoration: none;
}